*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-color: #090c1c;
  --color: white;
}


body{
  background-color: var(--background-color);
  color:var(--color);
}             

.head-section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  height: 50px
}

.head-section h3{
  background-color: rgb(17, 59, 115);
  transform: rotate(90deg);
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 90%;
  top:2%;
  cursor: pointer;
  transition: all 1s;
}
.head-section h3:hover{
  background-color: #090c1c;
  transform: scale(1.2);
}

.head-section h1{
  position: relative;
  left: -30%;
  font-family: 'Montserrat', "-apple-system", sans-serif;
  color: #F1F1F1; 
  font-size: 40px; 
  line-height: 1.2; 
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.search-location{
  max-width: 90%;
  margin: 40px auto;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.search-location form{
  display: flex;
  background: transparent;
  width: 100%;
  height: 90%;
  gap: 10px;
  margin-left:20%;
  
}
.search-location form input{
  width: 70%;
  background-color: transparent;
  border-radius: 10px;
  padding-left: 10px;
  cursor:text;
  color: var(--color);
    padding: 12px 18px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
}

.search-location form button{
  width: 80px;
  border-radius: 12px;
  background:rgb(33, 41, 44);
  color: var(--color);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.display{
  max-width: 80%;

  background-color:transparent;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  border-radius: 10px;
   margin-bottom: 10px;
}
.location{
  width: 100%;
  height: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
 
}
.location .head-location {
  display: flex;
  align-self: center;
  gap: 10px;
  
}
.head-location img{
  width: 60px;
}
.location span{
  font-size: 14px;
  background-color: rgb(60, 59, 59);
  margin: 10px;
  padding: 2px;
  border-radius: 4px;
}

.location .discription{
  /* margin-top: 5%; */
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 18px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  max-width: 800px;
  align-self: center;
  /* overflow: hidden; */
}
.forecast{
  width: 90%;
  margin: 40px auto;
  /* background-color: chartreuse; */
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  gap: 10px;
  padding: 10px;
  min-width: 600px;
  /* overflow: hidden; */
}
.forecast-head{
  align-self: center;
  font-family: 'Montserrat', "-apple-system", sans-serif;
  color: #F1F1F1; 
  font-size: 25px; 
  line-height: 1.2; 
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.forecast .forecasts{
  border: 3px solid gray;
  padding:4px;
  border-radius: 5px;
  max-height: 300px;
  min-height: 270px;
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;

  -webkit-overflow-scrolling: touch;
}
.forecasts ul{
  background:fixed;
  color: var(--color);
  border:1px solid ;
  min-width: 200px;
  margin-left: 10px;
  margin: 5px;
  border-radius: 10px;
}
ul ::-webkit-scrollbar {
  display: none;
}
.forecasts ::-webkit-scrollbar-thumb {
  background: #c91d1d;
  border-radius: 10px;
}
ul .head{
  /* background-color: #c91d1d; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
ul .mid-section{
  height: 130px;
  width: 160px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  border-radius: 60%;
}
ul .mid-section img{
  width: 120px;
  height: 79px;
}
ul .foot{
  display: flex;
  flex-direction: column;
  align-items: center;
}